.dropbox.attr
Thumbs.db
.import/*
data/*
dev/*
ui/*
src_archive/
*.import
default_bus_layout.tres
default_env.tres
export_presets.cfg
godot-midi-player.png
icon.png
TestScene.tscn
.tmp/
references/
.tmp_gotoolchain/
src/api/authapi
src/api/build/
src/login/login
src/login/config.env
src/coordinator/coordinator
src/coordinator/config.env
src/agent/agent
src/agent/config.env
src/realm-rs/target/
src/realm-rs/config.env
web/andora-monitor/data/
